.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.2;
    }
}

.left-icon + .title,
.title + .right-icon {
    margin-left: 8px;
}

.primary {
    min-width: 100px;
    padding: 9px 16px;
    color: var(--white);
    background-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 0 10px;
    font-weight: 600;
    line-height: 22px;
    min-width: 88px;
    min-height: 28px;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.getApp {
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: rgba(22, 24, 35, 0.75);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 8px;
    min-width: 90px;
    height: 32px;
    line-height: 30px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.login {
    border: 1px solid var(--primary);
    color: var(--primary);
    min-width: 168px;
    min-height: 48px;
    font-size: 1.8rem;
    line-height: 25px;
    font-weight: 600;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
